node_modules/
.expo/
.expo-shared/
dist/
web-build/
android/
ios/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
*.orig.*
.DS_Store
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
.vscode/
.idea/
supabase/.branches/
supabase/.temp/
